<%= form_for @cocktail do |f| %>
    <%= f.hidden_field :user_id, value:session[:user_id] %>
    Name: <%= f.text_field :name %>
    <br>
    <br>
    Ingredients:
    <table class="name_amount">
    <% Ingredient.all.each do |i| %>
        <% if ci = @cis.find { |ci| ci.ingredient_id == i.id } %>
            <% default_val = ci.amount %>
        <% else %>
            <% default_val = nil %>
        <% end %>

        <tr><td><%=i.name%></td><td><%= text_field_tag 'cis[][amount]', default_val%> fl oz <%= hidden_field_tag 'cis[][ingredient_id]', i.id %></td></tr>   
    <% end %>
    </table>
    <br>
    <%= f.submit  %>
<% end %>