<body class="form">
<%= form_for @cocktail do |f| %>
    <%= f.hidden_field :user_id, value:session[:user_id] %>
    <table class="form">
    <tr><td>Name:</td><td><%= f.text_field :name %></td></tr>
    <tr><td>Instructions:</td><td> <%= f.text_area :instructions %></td></tr>
    <tr><td>Ingredients:</td><td class="ing">
    <% Ingredient.all.each do |i| %>
        <% if @cis %>
            <% if ci = @cis.find { |ci| ci.ingredient_id == i.id } %>
                <% default_val = ci.amount %>
            <% else %>
                <% default_val = nil %>
            <% end %>
        <% else %>
            <% default_val = nil %>
        <% end %>
        <% if i.category == "Garnish"%>
            <% unit = "units" %>
        <%else %>
            <% unit = "fl oz" %>
        <%end%>
        <br><br><%= number_field_tag 'cis[][amount]', default_val%> <%=unit%>  <%=i.name%><%= hidden_field_tag 'cis[][ingredient_id]', i.id %>  
    <% end %>
    </td></tr>
    <tr colspan="2"><td><p class="submitbutton"><br><%= f.submit  %></p></td></tr>
    </table>
    
<% end %>
</body>