<h1><%= @cocktail.name %></h1>
<em>Submitted by <%=link_to @profile.name, user_path(@profile)%></em>
<br>
Ingredients used:
<% @cocktail.cis.each do |ci| %>
    <br>
    <%= ci.ingredient.name %> | <%= ci.amount %> fl oz
<% end %>


<h3>Instructions:</h3>
<%# @cocktail.instructions %>
<% if !(@user.id == @cocktail.user_id)%>
    <%= form_for @uc do |f| %>
    <%= f.collection_select :rating, @rating, :to_i, :to_i %>
    <input type="hidden" name="uc[cocktail_id]" value="<%=@cocktail.id%>"/>
    <%= f.submit "Rate Drink!" %>
    <% end %>
<% end %>


<%= button_to "Edit Cocktail", edit_cocktail_path(@cocktail), method: "get" %> 
<%= form_tag cocktail_path(@cocktail), method: "delete" do %>
<%= submit_tag "Delete Cocktail" %>
<% end %>
<%= link_to "Back to Cocktail List", cocktails_path %>