<h1><%= @cocktail.name %></h1>
<em>Submitted by <%=link_to @profile.name, user_path(@profile)%></em>
<br>
<p>Ingredients used:</p>
<table class="name_amount">
<% @cocktail.cis.each do |ci| %>
    <tr><td><%= ci.amount %> fl oz</td><td><%= ci.ingredient.name %> </td></tr>
<% end %>
<<<<<<< HEAD
<br>
Average Rating:
<%= @cocktail.ucs.average(:rating) %>

=======
</table>
>>>>>>> 3d9327a355d78eb2b94a0b7b1e0ba0173a48c492

<h2>Instructions:</h2>
<h3><%= @cocktail.instructions %></h3>
<br>
<% if !session[:user_id].nil? %>
    <% if !(@user.id == @cocktail.user_id)%>
        <%= form_for @uc do |f| %>
        <%= f.collection_select :rating, @rating, :to_i, :to_i %>
        <input type="hidden" name="uc[cocktail_id]" value="<%=@cocktail.id%>"/>
        <%= f.submit "Rate Drink!" %>
        <% end %>
    <% end %>
<% end %>


<%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class:"button" %> 
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: "delete", class:"button" %>
<%= link_to "Back to Cocktail List", cocktails_path, class:"button" %>