<head>
<title><%= @cocktail.name %></title>
</head>
<body>

<h1><%= @cocktail.name %></h1>
<p><em>Submitted by <%=link_to @profile.name, user_path(@profile)%></em></p>
<br>
<br>

<table class="show">
    <tr>
        <td rowspan="2" class="recipecard"><h2>Ingredients Used:</h2>
                    <ul>
            <% @cocktail.cis.each do |ci| %>
                <li><%= ci.amount %> fl oz   <%= ci.ingredient.name %></li>
            <% end %>
            </ul>
        </td>
        <td class="title"><h2>Instructions:</h2></td>
    </tr>
    <tr>
        <td><h3><%= @cocktail.instructions %></h3></td>
    </tr>
</table>
<p>
<%= @cocktail.ucs.average(:rating) %></p>
<br>
<% if !session[:user_id].nil? %>
    <% if !(@user.id == @cocktail.user_id)%>
        <%= form_for @uc do |f| %>
        <%= f.collection_select :rating, @rating, :to_i, :to_i %>
        <input type="hidden" name="uc[cocktail_id]" value="<%=@cocktail.id%>"/>
        <%= f.submit "Rate Drink!" %>
        <% end %>
    <% end %>
<% end %>

<br>
<br>
<br>
<br>
<p class="links">
<%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class:"button" %> 
<%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: "delete", class:"button" %>
<%= link_to "Back to Cocktail List", cocktails_path, class:"button" %></p>


</body>