<head>
<title><%=@profile.name%></title>
</head>
<body>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1><%= @profile.name %></h1>
<h2><%= @profile.bio %></h2>

<br>
<p>
<% if @user == @profile%>
<%= link_to "Edit", "/editprofile", class:"button"%>
<%= link_to "Logout", "/logout", class:"button"%>
<%= link_to "Delete Profile", "/delete", data: {confirm: "Are you sure you want to delete your profile FOREVER?" }, class:"button"%>
<% end %>
</p>

</body>