<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1><%= @profile.name %></h1>
<h1><%= @profile.bio %></h1>

<% if @user == @profile%>
<%= link_to "Edit", "/editprofile"%>
<%= link_to "Logout", "/logout"%>
<%= link_to "Delete Profile", "/delete", data: {confirm: "Are you sure you want to delete your profile FOREVER?" }%>
<% end %>