<!DOCTYPE html>
<html>
    <head>
        <title>Cocktail Search</title>
    </head>

    <body class="search">
    <h1>Cocktail Search</h1>
    <div class="space">
<%= form_tag(results_path,method:'get') %>
    <p class="big">Show me cocktails that... </p>
        <p>
        <input type="radio" name="search_type", value="include", id="include" checked><label for="include">Include</label>

        <input type="radio" name="search_type", value="exclude", id="exclude"><label for="exclude">Exclude</label>

        <input type="radio" name="search_type", value="only", id="use only"><label for="use only">Use Only</label>
        </p>
    <p class="big">... these ingredients:</p>
    <hr>
    <ul class="blackout">
    <p class="big">LIQUORS</p>
    <% @liquors.each do |i| %>
        <li><p><input type="checkbox" name="ingredients[]" value=<%=i.name%> id=<%=i.name%> ><label for=<%=i.name%>> <%=i.name%></label></p>
    <% end %>
    <br>
    <p class="big">MIXERS</p>
    <% @mixers.each do |i| %>
        <li><p><input type="checkbox" name="ingredients[]" value=<%=i.name%> id=<%=i.name%> ><label for=<%=i.name%>> <%=i.name%></label></p>
    <% end %>
    <br>
    <p class="big">GARNISHES</p>
    <% @garnishes.each do |i| %>
        <li><p><input type="checkbox" name="ingredients[]" value=<%=i.name%> id=<%=i.name%> ><label for=<%=i.name%>> <%=i.name%></label></p>
    <% end %>
    </ul>

    <br>
    <p><input type="submit" class="button" value="Search Cocktails"></p>
    </div>
    </body>
</html>
