<!DOCTYPE html>
<html>
    <head>

        <title>Cocktail Search</title>
    </head>

    <body>
    <h1> / </h1>
    <div class="space">
<%= form_tag(results_path,method:'get') %>
    <p>Show me cocktails that... </p>
        <input type="radio" name="search_type", value="include", id="include"><label for="include">Include</label>

        <input type="radio" name="search_type", value="exclude", id="exclude"><label for="exclude">Exclude</label>

        <input type="radio" name="search_type", value="only", id="use only"><label for="use only">Use Only</label>

    <br>
    <p>... these ingredients:</p>
    <br>
    <p>LIQUORS</p>
    <% @liquors.each do |i| %>
        <p><input type="checkbox" name="ingredients[]" value=<%=i.name%> id=<%=i.name%> ><label for=<%=i.name%>> <%=i.name%></label></p>

    <% end %>
    <br>
    <p>MIXERS</p>
    <% @mixers.each do |i| %>
        <input type="checkbox" name="ingredients[]" value=<%=i.name%> id=<%=i.name%> ><label for=<%=i.name%>> <%=i.name%></label>
        <br>
    <% end %>
    <br>
    <p>GARNISHES</p>
    <% @garnishes.each do |i| %>
        <input type="checkbox" name="ingredients[]" value=<%=i.name%> id=<%=i.name%> ><label for=<%=i.name%>> <%=i.name%></label>
        <br>
    <% end %>


    <%= submit_tag "Search Cocktails" %>
    </div>
    </body>
</html>
