<!DOCTYPE html>
<html>
  <head>
    <title>Cosmos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <nav>
    <ul>
      <li style="float:left"><a href="/">Home</a></li>
      <li style="float:left"><a href="/cocktail-search">Advanced Search</a></li>
      <li style="float:left"><a href="/cocktails">Cocktails</a></li>
      <li style="float:left"><a href="/ingredients">Ingredients</a></li>
      <% if !session[:user_id].nil? %>
        <li style="float:right"><a href="/logout">Logout</a></li>
        <li style="float:right"><a href="/users/<%= session[:user_id] %>">My Profile</a></li>
      <% else %>
        <li style="float:right"><a href="/signup">Signup</a></li>
        <li style="float:right"><a href="/login">Login</a></li>
      <% end %>
    </ul>
  </nav>
  
    <%= yield %>
  </body>
</html>
